Attachment.zip
DE_Task.pdf
env
.env
/env
/venv
.venv
./Attachment/REF_SMS/REF_CBS_SMS2.csv
/Attachment/REF_SMS/REF_CBS_SMS2.csv
Attachments
./Attachments
/Attachments
.Attachments
__pycache__/
*.pyc
*REF_CBS_SMS2.csv
/outputs